<!doctype html>
<html lang="en">
<%- include('./macros/head'); %>
<%- include('./macros/body'); %>
    <%- include('./macros/content'); %>
    <%- include('./macros/navbar', {homeScreen: true}); %>

      <main class="px-3">
        <header class="spacehub--header">
            <div class="container-fluid">
            </div>
        </header>


          <section class="spacehub--card spacehub--bg-primary-op--8">
              <div class="spacehub--card--header">
                  <h1 class="spacehub--section-title">Astronomy Picture of the Day</h1>

                  <div class="widget--card-controller">
                       <button id="picOfDayToday" class="spacehub--btn spacehub-btn-active spacehub--hide" type="button" >
                            Today's Picture
                        </button>

                      <div class="widget--calendar">
                          <label for="start"><i><strong>Select a Date</strong></i></label>
                            <input id="picOfDayDate" type="date"  name="date-picker-picture-of-day"
                                value="<%= new Date().toISOString().split("T")[0] %>"
                                min='1995-06-16'
                                max="<%= new Date().toISOString().split("T")[0] %>"
                                class="datepicker"
                            >
                      </div>
                  </div>
              </div>

              <article class="container POD-WIdget">
                  <h3 ><span id="picOfDayTitle" class="spacehub--text-secondary spacehub--text-title"><%= title %></span> <span id="picOfDayDateText"><%= date %></span></h3>
                  <figure class="figure">
                      <div id="picOfDayScreen" class="spacehub--screen ">
                          <% if (media_type === 'image') { %>
                            <img  class="picOfDayImage spacehub--image "
                            src="<%= hdurl %>" alt="Picture of the day.." />
                            <iframe id="picOfDayVideo" class="spacehub--video spacehub--hide" src="" allowfullscreen></iframe>

                          <% } else if (media_type === 'video') { %>
                             <img  class="picOfDayImage spacehub--image spacehub--hide"
                                src=""  />
                            <iframe id="picOfDayVideo" class="spacehub--video" src="<%= url %>" allowfullscreen></iframe>

                          <% } else { %>
                              <p class="text-info">No data to show...</p>
                              <img class="picOfDayImage spacehub--image spacehub--hide" src="" />
                               <iframe id="picOfDayVideo" class="spacehub--video spacehub--hide" src="" allowfullscreen></iframe>
                          <% } %>
                          <div id="picOfDayLoading" class="spacehub--is-loading-container spacehub--hide">
                            <!--
                                Spinner Credit
                                Youtuber: @dcode https://www.youtube.com/watch?v=trsuokl2Fp4
                                CodePen: https://codepen.io/dcode-software/pen/vYKVepQ
                            -->
                              <div class="spacehub--is-loading "></div>
                          </div>
                      </div>

                       <figcaption class="figure-caption spacehub--figure-caption">
                          <span  id="picOfDayExplanation"> <%= explanation %></span>
                           <i class="far fa-heart"></i>

                           <% if (typeof copyright !== 'undefined') {%>
                              <small>©
                                  <span id="picOfDayCopyright"><%= copyright %>
                                  </span>
                              </small>
                           <% }%>
                       </figcaption>

                  </figure>
              </article>

          </section>

            <br/><br/><br/> <br/><br/><br/>





      </main>

    <%- include('./macros/footer');%>
    </div>
</body>
</html>
